
<style>
  form  { display: table;}
  p     { display: table-row;  }
  label { display: table-cell; }
  input { display: table-cell; }
</style>


<div style="text-align: right;">
    <form action="" method="post">
      {% csrf_token %}
      <p>
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
      </p>
      <br>
      <p>
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
      </p>
      <br>
      <p>
        {{ form.roll_number.label_tag }}
        {{ form.roll_number }}
      </p>
      <p>
      <label>
      </label>
      <label style="text-align: center;">
        {{ form.roll_number.help_text }}
      </label>
      </p>
      <p>
        {{ form.password.label_tag }}
        {{ form.password }}
      </p>
      <br>

      <p>
      <label>
      </label>
      <label style="text-align: center;">
      <input type="submit" value="Submit">
      </label>
      </p>
    </form>
</div>
