{% load static %}
{% csrf_token %}

<style>
  .azul{
color:blue;
}
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web de Cotizacion</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static "vendors/mdi/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/flag-icon-css/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/ti-icons/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "vendors/typicons/typicons.css" %}">
    <link rel="stylesheet" href="{% static "vendors/css/vendor.bundle.base.css" %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.css" %}">
    <link rel="stylesheet" href="{% static "vendors/datatables.net-fixedcolumns-bs4/fixedColumns.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/jsgrid/jsgrid.min.css" %}">
    <link rel="stylesheet" href="{% static "vendors/jsgrid/jsgrid-theme.min.css" %}">
    <!-- End Plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static "css/shared/style.css" %}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static "css/demo_1/style.css" %}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}" />
</head>
<body>

    <div class="content-wrapper">

        <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Productos</h4>
            <div class="table-responsive">
          <!--  <table class="table">
                <thead>-->

<table id="order-listingQWE" class="table" style="width:100%">
    <thead>
    <tr>
        <th>Accion</th>
        <th>Producto</th>
        <th>Codigo</th>
        <th>Categoria</th>
        <th>Precio</th>
        <th>Unidad</th>
    </tr>
    </thead>
    <tbody>
    {% for item in query_results %}
    <tr>
        <td><button class="btn btn-outline-primary" onclick="agregarow('{{ item.id }}','{{ item.producto }}','{{ item.precio }}','{{ item.unidad }}')">Agregar</button>
            <button class="btn btn-outline-secondary">Ver</button></td>
        <td>{{ item.producto }}</td>
        <td>{{ item.codigo }}</td>
        <td>{{ item.categoria }}</td>
        <td>{{ item.precio }}</td>
        <td>{{ item.unidad }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

</div>
</div>

<br>
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Canasta</h4>

    <!--  <table class="table">
          <thead>-->

<div id="canasta"></div>
</div>
</div>
</div>
</div>
<button class="btn btn-outline-primary" onclick=enviarDatos()>Guardar cotización</button>
<button class="btn btn-outline-primary" onclick=getDatos()>Guardar cotización</button>
</div>
</div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static "vendors/js/vendor.bundle.base.js" %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static "vendors/datatables.net/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendors/datatables.net-bs4/dataTables.bootstrap4.js" %}"></script>
    <script src="{% static "vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.min.js" %}"></script>
    <script src="{% static "vendors/jsgrid/jsgrid.min.js" %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static "js/shared/off-canvas.js" %}"></script>
    <script src="{% static "js/shared/hoverable-collapse.js" %}"></script>
    <script src="{% static "js/shared/misc.js" %}"></script>
    <script src="{% static "js/shared/settings.js" %}"></script>
    <script src="{% static "js/shared/todolist.js" %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page // no se usa -->
    <script src="{% static "js/shared/data-table.js" %}"></script>
    <script src="{% static "js/shared/js-grid.js" %}"></script>
    <script src="{% static "js/shared/db.js" %}"></script>
    <!-- End custom js for this page -->
    </script>
<!-- Custom js for this page -->
<script>
	$(document).ready(function() {
		
    $('#order-listingQWE').DataTable({
			"order": [
				[3, "asc"]
			],
		});

	});
</script>

<script>
  var canasta=[];
  function agregarow(id,producto,precio,unidad){
  
    function contieneProducto(id_prod) {
      return canasta.some(function(elemento) {
        return elemento.id.includes(id_prod);
      });
    }
    
    
    if(!contieneProducto(id)){
    canasta.push({ id: id, producto: producto, unidad: unidad, cantidad: 0, precio: precio });
    $('#canasta').jsGrid();
    }
    }
</script>


<script>

$(document).ready(function() {
var datos = [
  { producto: "casa", unidad: "un", cantidad: 1, precio: 0.32 },
  { producto: "barco", unidad: "un", cantidad: 2, precio: 0.23 },
  { producto: "carro", unidad: "un", cantidad: 4.2, precio: 2.23 }
];

  $('#canasta').jsGrid({
    width: "100%",
    height: "auto",
    sorting: true,
    paging: true,
    autoload: true,
    noDataContent: "Agregue productos",
    confirmDeleting: false,
    filtering: true, //fila de filtering
    editing: true,
    inserting: false,
    data: canasta, // Pasa los datos a través de la opción 'data'
    fields: [
    { name: "producto", type: "text", title: "Producto",editing: false, width: 150, css: 'azul' },
    { name: "unidad", type: "text", title: "Unidad", editing: false, width: 10 },
    { name: "precio", type: "number", title: "Precio Unitario", editing: false, width: 10, },
    { name: "cantidad", type: "number", title: "Cantidad", width: 10 },
    {
      name: "Total",
      type: "number",
      itemTemplate: function(value, item) {
          // Calculate the total by multiplying quantity and price
          return item.cantidad * item.precio;
      },
      editing: false, width: 10
    },
    {
      type: "control"
    }
  ]
  });

});


</script>

<script>
  function enviarDatos() {
  $.ajax({
    url: "guardar_cotizacion",  // Reemplaza esto con la URL correcta de tu endpoint Django
    type: "POST",
    data: {
      cotizacion: JSON.stringify(canasta)
    },
    success: function(response) {
      console.log("Cotización guardada exitosamente");
    },
    error: function(xhr) {
      console.error("Error al guardar la cotización");
    }
  });
  }
</script>
<script>
var filaId = 30; // El identificador de la fila que deseas obtener
function getDatos() {
$.ajax({
  url: "obtener_cotizacion/" + filaId + "/",  // Reemplaza esto con la URL correcta de tu endpoint Django
  type: "GET",
  success: function(response) {
    // Manipula los datos de respuesta aquí
    datos=JSON.parse(response);
    console.log(response);
  },
  error: function(xhr) {
    console.error("Error al obtener la cotización");
  }
});
console.log(datos);
$('#canasta').jsGrid();
}
</script>

</body>